[submodule "vendor/fast_double_parser"]
	path = vendor/fast_double_parser
	url = https://github.com/lemire/fast_double_parser.git
[submodule "vendor/ThreadPool"]
	path = vendor/ThreadPool
	url = https://github.com/progschj/ThreadPool
